.seccionForm {
   padding: 3em;
   background-image: url("../img/info/fondo_form.svg");
   background-size: cover;
   background-repeat: no-repeat;
}

.logo_final{
   /* background-image: url("/src/img/info/fondo_form.svg"); */
   width: 20%;
   margin: 2em auto;
}

@media only screen and (max-width: 480px) {
   .seccionForm {
      padding: 3em 5%;
   }
}